.header {
  height: 4.5rem;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: relative;

  &-left {
    width: 100%;
    background-color: #182531;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
    flex-shrink: 0;
    position: relative;

    .back {
      position: absolute;
      width: 2.5rem;
      cursor: pointer;
      padding: 0;
      right: -1.25rem;
      display: none;
    }
  }

  &-right {
    display: none;
    .mat-select {
      width: 8rem;
      flex-shrink: 0;
      height: 2.5rem;
      line-height: 2.5rem;
      padding: 0 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #A6B5C0;
      margin: 0 0.5rem;
    }
    .profile {
      width: 2.5rem;
      height: 2.5rem;
      img {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
      }
    }
  }
  .logo {
    width: 9rem;
  }
}
.burger-menu {
  position: relative;
  width: 30px;
  cursor: pointer;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    &, &:before, &:after {
      display: block;
      background-color: #fff;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }
    &:before {
      content: '';
      margin-top: -8px;
    }
    &:after {
      content: '';
      margin-top: 8px;
    }
  }
}
.nav-text {
  display: none;
}

@media screen and (min-width: 800px){
  .header-left {
    max-width: 24rem;
  }
  .header-right {
    display: flex;
  }
}

@media screen and (min-width: 1200px){
  //.burger-menu {
  //  display: none;
  //}
  //.nav-text, .header-left .back {
  //  display: flex;
  //}
}
