<mat-card>
  <div class="d-flex justify-end search-btns mb-4">
    <button mat-flat-button color="primary">
      Create Employee
    </button>
  </div>
  <div class="w-100">
    <app-table
      [dataSource]="dataSource"
      [showPagination]="true"
      [showTableColumn]="true"
      [showIndex]="true"
      [pageIndex]="pageIndex"
      [totalItems]="totalItems"
      [columns]="(columns$ | async) || []"
      [actions]="(actions$ | async) || []"
      (pageChange)="pageChange.emit($event)"
      (rowAction)="onRowAction($event)"
      [showColumnSelect]="true"
      [routeConstructorName]="constructorName">
    </app-table>
  </div>
</mat-card>
